<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonebook</title>
    <script src="https://kit.fontawesome.com/6bf8df2f4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/adminPage.css">
    <!--JQuery------->
    <script src="../public/Jquery.js"></script>
</head>
<body>
    <!------menu-bar------->
    <nav>
        <div class="navigation">
        <!-- logo-->
        <a href="#" class="logo">
            <img src="../public/img/logo.png"/>
        </a>
         <!--menu-->
         <ul class ="menu">
            <li><a href="../views/adminPage_Orders.html">Order</a></li>
            <li><a href="../views/adminPage_Products.html" >Products</a></li>
            <li><a href="../views/adminPage_users.html">Users</a></li>
            <li><a href="../views/adminPage.html">Stats</a></li>
            <li><a href="../views/mainPage.html">Home</a></li>
         </ul>
        
      </div>
    </nav>
</body>
</html>