<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonebook</title>
    <script src="https://kit.fontawesome.com/6bf8df2f4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/adminPage_users.css">
    <!--JQuery------->
    <script src="../public/Jquery.js"></script>
</head>
<body>
    <!------menu-bar------->
    <nav>
        <div class="navigation">
        <!-- logo-->
        <a href="#" class="logo">
            <img src="../public/img//logo.png"/>
        </a>
         <!--menu-->
         <ul class ="menu">
            <li><a href="../views/adminPage_Orders.html">Order</a></li>
            <li><a href="../views/adminPage_Products.html" >Products</a></li>
            <li><a href="../views/adminPage_users.html">Users</a></li>
            <li><a href="../views/adminPage.html">Stats</a></li>
            <li><a href="../views/mainPage.html">Home</a></li>
         </ul>
        </div>
    </nav>`

    <section>
        <h1 class="heading">Users</h1>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    <tr>
                    </tr>
                    <tr class="active-row">
                    </tr>
                </tbody>
            </table>
    </section>

    
    <div class="card">
        <h2>Update user password</h2>
        <input id="userId" type="text" placeholder="Enter ID" class="inputer">
        <input id="newPassword" type="password" placeholder="New Password" class="inputer">
        <button id="updateButton">Update</button>
    </div>
    

    <div class="card">
        <h2>Delete a user</h2>
        <input id="deleteInp" type="text" placeholder="Enter ID" class="inputer">
        <br><button id="deleteButton">Delete</button>
    </div>
    
    <hr>

    <script src="../public/js/adminPage_users.js"></script>

</body>
</html>