<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonebook</title>
    <script src="https://kit.fontawesome.com/6bf8df2f4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/adminPage_Products.css">
    <!--JQuery------->
    <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
</head>
<body>
    <!------menu-bar------->
    <nav>
        <div class="navigation">
        <!-- logo-->
        <a href="#" class="logo">
            <img src="../public/img/logo.png"/>
        </a>
         <!--menu-->
         <ul class ="menu">
            <li><a href="../views/adminPage_Orders.html">Order</a></li>
            <li><a href="../views/adminPage_Products.html" >Products</a></li>
            <li><a href="../views/adminPage_users.html">Users</a></li>
            <li><a href="../views/adminPage.html">Stats</a></li>
            <li><a href="../views/mainPage.html">Home</a></li>
         </ul>
        </div>
    </nav>

    <section>
        <h1 class="heading">Products</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Count In Stock</th>
                    <th>Rating</th>
                    <th>Date Created</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                <!-- Product rows will be added here -->
            </tbody>
        </table>
    </section>

    <hr>
    <section>
        <h1 class="heading">Add Product</h1>
        <div class="container">
            <form id="addProductForm" enctype="multipart/form-data">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" placeholder="Product name.." required>
                
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Description.." required>
    
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" placeholder="Brand.." required>
                
                <label for="price">Price:</label>
                <input type="text" pattern="^\d+(\.\d+)?$" id="price" name="price" placeholder="Price.." required>
    
                <label for="category">Category ID:</label>
                <input type="text" id="category" name="category" placeholder="Category ID.." required>
    
                <label for="countInStock">Count in Stock:</label>
                <input type="text" pattern="^(?:[1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$" id="countInStock" name="countInStock" placeholder="A number between 1-255" required >
    
                <label for="isFeatured">isFeatured:</label>
                <select id="isFeatured" name="isFeatured">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>

                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*" required>
                <div id="image-label"></div>
                <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100px; display: none;">
        
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="publishtofb">
        <form id="productForm">
            <label for="productId">Product ID:</label>
            <input type="text" id="productId" required>
            <button type="submit">Publish on Facebook page</button>
        </form>
    
        <div id="productDetails">
            <!-- Product details will be displayed here -->
        </div>
        </div>
    </section>

    <hr>
    <section>
    <h1 class="heading">Update Product</h1>
    <div class="container">
        <div class="left-div">
            <form id="updateProduct" enctype="multipart/form-data">
                <label for="name">Product id:</label>
                <input type="text" id="productId"  placeholder="Product id.." required>

                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" placeholder="Product name.." required>
                
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Description.." required>
    
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" placeholder="Brand.." required>
                
                <label for="price">Price:</label>
                <input type="text" pattern="^\d+(\.\d+)?$" id="price" name="price" placeholder="Price.." required>
    
                <label for="category">Category ID:</label>
                <input type="text" id="category" name="category" placeholder="Category ID.." required>
    
                <label for="countInStock">Count in Stock:</label>
                <input type="text" pattern="^(?:[1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$" id="countInStock" name="countInStock" placeholder="number between 1-255" required >
    
                <label for="isFeatured">isFeatured:</label>
                <select id="isFeatured" name="isFeatured">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>

                <label for="image">Image:</label>
                <input type="file" id="image" name="image" accept="image/*" required>
                <div id="image-label"></div>
                <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100px; display: none;">
        
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    </section>
    <hr>
    <section>
        <h1 class="heading">Delete Product</h1>
        <div class="container">
            <form id="deleteProduct" enctype="multipart/form-data">
                <label for="deleteProductId">Product id:</label>
                <input type="text" id="deleteProductId" placeholder="Product id.." required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/js/adminPage_Products.js"></script>
</body>
</html>
