<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="../public/css/chatEntrace.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>webChat</h1>
        </div>
        <div class="body">
            <!-- Messages will be displayed here -->
        </div>
        <div class="footer">
            <form id="chat-form">
                <input type="text" id="name" placeholder="Your Name" required style="border: 1px solid black;">
                <input type="text" id="message" name="message" placeholder="Your Message" required style="border: 1px solid black;">
                <button type="submit">SEND</button>
            </form>
        </div>
    </div>
    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="/public/chat.js"></script>
</body>
</html>
