<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="../public/css/chatEntrace.css">
</head>
<body>
    <div class="container">
        <div class="header">
        <h1>webChat</h1>
    </div>
        <div class="body">
        <p class="message">Hello</p>
        <p class="message user_message">Hi</p>
    </div>
        <div class="footer">
            <form>
                <input type="text" name="message">
                <button>SEND</button>
            </form>
        </div>
    </div>
    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="/public/chat.js"></script>
</body>
</html>