body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #faf8e4;
    align-items: center;
    padding:0px 45px;
}
.logo img{
    height: 50px;
}
.menu{
    display: flex;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #555555;
}
.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}
.menu a:hover,
.right-menu a:hover, 
.search-cancel:hover,
.form-cancel:hover{
    color: #0b9d8a;
    transition: all ease 0.3s
}
.fa-shopping-cart{
    position: relative;
}
.num-cart-products{
    position: absolute;
    top:-17px;
    right: -17px;
    width: 25px;
    height:25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}



.about-info {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: white;

}

.about-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    max-width: 100%;
    margin-left: 15px;
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
#map{
    margin-left: 15%;
    margin-bottom: 80px;
    height: 300px;
    width: 70%;
}
.slide {
    direction: rtl;
    border-style:groove;
    border-width: 2px;
    text-align: center;
    background-color: rgb(187, 187, 187);
    border-color: #a5a280;
}
.slide a {
    display: inline-block; /* Ensure proper alignment of anchor tag within slide */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.7rem;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
  }

  