body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

*{
    box-sizing: border-box;
}

.fa-shopping-cart{
    position: relative;
}
.num-cart-products{
    position: absolute;
    top:-17px;
    right: -17px;
    width: 25px;
    height:25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}



.about-info {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: white;

}

.about-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    max-width: 100%;
    margin-left: 15px;
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
#map{
    margin-left: 15%;
    margin-bottom: 80px;
    height: 300px;
    width: 70%;
}


  