body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.navigation{
    display: flex;
    align-items: center;
    padding:0px 45px;
    background-color: #faf8e4;
}
.logo img{
    height: 50px;
}
.menu{
    display: flex;
    align-items: center;
    margin-left: 27%;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #555555;
}

.menu a:hover{
    color: #0b9d8a;
    transition: all ease 0.3s
}
.chartbox{
    border: 4px solid;
    width: 60%; /* Adjust the width as needed */
    margin-bottom: 3%;
}
#chart1 {
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 20px auto; /* Adjust the margins for spacing */
    width: 80%; /* Adjust the width as needed */
}

#pieChart {
    margin: 20px auto; /* Adjust the margins for spacing */
    width: 80%; /* Adjust the width as needed */
    padding: 10px;
}

section {
    margin: 5%;
    display: flex; /* Use flex display for column layout */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center content horizontally */
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 300%;
}
h2{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    height: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}