html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}

.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}


#cart {
    padding-top: 20px; 
   
}

#cart-container {
    flex: 1; 
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead{
   font-weight: 700;
}

#cart-container table thead td{
    background-color: #faf8e4;
    color:black;
    border:none;
    padding: 6px 0;
 }

 #cart-container table td{
    border:1px solid #b6b3b3;
    text-align: center;
 }

 #cart-container table td:nth-child(1){
    width:100px;
 }

 #cart-container table td:nth-child(2),
 #cart-container table td:nth-child(3){
    width:200px;
 }

 #cart-container table td:nth-child(4),
 #cart-container table td:nth-child(5),
 #cart-container table td:nth-child(6)
 {
    width:170px;
 }

 #cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
 }


 #cart-container table tbody i{
    color:#4d4d4d;
 }

 #cart-bottom .coupon>div,
 #cart-bottom .total>div{
    border:1px solid #b6b3b3;
 }

 #cart-bottom .coupon h5,
 #cart-bottom .total h5{
    background-color: #faf8e4;
    color:black;
    border:none;
    padding: 6px 12px;
    font-weight:700 ;
 }
 
 #cart-bottom .coupon p, 
 #cart-bottom .coupon input
 {
    padding:0 12px;
 }

 #cart-bottom .coupon input{
    height: 44px;
 }

 #cart-bottom .coupon input{
    margin: 0 0 20px 12px; 
 }

 #cart-bottom .coupon button{
    height: 44px;
 }

 #cart-bottom .total div>div{
    padding: 0 12px;
 }

 #cart-bottom .total h6{
    color:#2a2a2a;
 }

 .second-hr{
    background-color:#b8b7b3;
    width: 100%;
    height: 1px;
 }

 #cart-bottom .total div>button{
    margin:0 12px 0 0;
    display: flex;
    justify-content: flex-end;
 }

 .total {
    position: relative;
    margin-bottom: 100px; 
}


.install img {
    max-width: 50%;
    height: auto;
    border: none; 
    margin: 10px 0; 
}

.appLogo{
    margin-right: 10px;
    border: none;
}
.menu{
   position: relative;
   padding: 5px;
   margin-top:5px;
   font-family: Arial, Helvetica, sans-serif;
   }