html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}


@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.full-slider-box{
    width:100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.f-slide-1{
    background-image: url(../img/slider_01.png);
}
.f-slide-2{
    background-image: url(../img/slider_02.png);
}
.f-slide-3{
    background-image: url(../img/slider_03.png);
}
.slider-text-box{
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
}
.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.f-slider-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}
.f-slider-btn{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}
.f-slider-text strong font{
    color: #0b9d8a;
}
.arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.arrival-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#cart {
    padding-top: 20px; /* Adjust the value as needed */
   
}



/*Cart*/

#cart-container {
    flex: 1; /* Take up remaining vertical space */
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead{
   font-weight: 700;
}

#cart-container table thead td{
    background-color: #faf8e4;
    color:black;
    border:none;
    padding: 6px 0;
 }

 #cart-container table td{
    border:1px solid #b6b3b3;
    text-align: center;
 }

 #cart-container table td:nth-child(1){
    width:100px;
 }

 #cart-container table td:nth-child(2),
 #cart-container table td:nth-child(3){
    width:200px;
 }

 #cart-container table td:nth-child(4),
 #cart-container table td:nth-child(5),
 #cart-container table td:nth-child(6)
 {
    width:170px;
 }

 #cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
 }


 #cart-container table tbody i{
    color:#4d4d4d;
 }

 #cart-bottom .coupon>div,
 #cart-bottom .total>div{
    border:1px solid #b6b3b3;
 }

 #cart-bottom .coupon h5,
 #cart-bottom .total h5{
    background-color: #faf8e4;
    color:black;
    border:none;
    padding: 6px 12px;
    font-weight:700 ;
 }
 
 #cart-bottom .coupon p, 
 #cart-bottom .coupon input
 {
    padding:0 12px;
 }

 #cart-bottom .coupon input{
    height: 44px;
 }

 #cart-bottom .coupon input{
    margin: 0 0 20px 12px; 
 }

 #cart-bottom .coupon button{
    height: 44px;
 }

 #cart-bottom .total div>div{
    padding: 0 12px;
 }

 #cart-bottom .total h6{
    color:#2a2a2a;
 }

 .second-hr{
    background-color:#b8b7b3;
    width: 100%;
    height: 1px;
 }

 #cart-bottom .total div>button{
    margin:0 12px 0 0;
    display: flex;
    justify-content: flex-end;
 }

 .total {
    position: relative;
    margin-bottom: 100px; /* Add some margin at the bottom to create space for the footer */
}
.slide {
    direction: rtl;
    border-style:groove;
    border-width: 2px;
    text-align: center;
    background-color: rgb(187, 187, 187);
    border-color: #a5a280;
}
.slide a {
    display: inline-block; /* Ensure proper alignment of anchor tag within slide */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.7rem;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
  }

 /* Custom styles for the images in the "Install App" section */
.install img {
    max-width: 50%;
    height: auto;
    border: none; /* Remove the default border */
    margin: 10px 0; /* Add margin between images */
}

.appLogo{
    margin-right: 10px;
    border: none;
}